body {
  color: #fafafa;
  font-size: 2rem;
  min-height: 100vh;
  background: $react-primary;
  padding: 0 0rem;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
