@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-weight: 400;
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  body {
    line-height: 1.25;
  }
}

a,
button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}
.container {
  max-width: 124rem;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (max-width: 575.98px) {
  .container {
    padding: 0;
    margin: 0;
    width: 100vw;
  }
}
@media (max-width: xs) {
  .container {
    padding: 0;
    margin: 0;
    width: 100vw;
  }
}

.business_list {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 70rem;
  margin-top: 15rem;
}
@media screen and (max-width: 1200px) {
  .business_list {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.business_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  max-width: 25rem;
  transition: all 200ms ease;
}
.business_wrapper:hover img {
  opacity: 0.8;
}
.business_wrapper .img_container {
  height: 25rem;
  width: 25rem;
  overflow: hidden;
  border-radius: 1rem;
}
.business_wrapper img {
  transition: all 150ms ease;
}
.business_wrapper .business_name {
  align-self: flex-start;
  font-size: 2.2rem;
  margin-top: 1.2rem;
  text-transform: capitalize;
}
.business_wrapper .info {
  display: grid;
  grid-template-columns: 4fr 2fr;
  width: 100%;
  min-height: 5rem;
  font-size: 1.4rem;
  margin-top: 0.2rem;
}
.business_wrapper .adress {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  line-height: 1.2em;
  text-transform: capitalize;
  opacity: 0.7;
}
.business_wrapper .zip_wrapper {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  gap: 0.5rem;
}
.business_wrapper .data {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
}
.business_wrapper .category {
  color: #61dafb;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
.business_wrapper .rating {
  color: #61dafb;
  font-weight: 700;
  line-height: 1.2em;
}
.business_wrapper .reviews {
  font-weight: 400;
  opacity: 0.4;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 0;
  background: #13161c;
  z-index: 10;
}
.header .logo {
  max-width: 15rem;
  transition: all 200ms ease-in-out;
}
.header .logo:hover {
  opacity: 0.8;
}

body {
  color: #fafafa;
  font-size: 2rem;
  min-height: 100vh;
  background: #282c34;
  padding: 0 0rem;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
